.watermark {
    background: #000 url(http://www.scweb.ca/~w3333333/labfiles/watermark.png) no-repeat;
    baclground-origin: content-box;
    height: 200px;
    width: 200px;
}

img.watermarked {
    opacity: 0.9;
}

p {
    display: inline-block;
    margin: 2px;
    border: 1px solid black;
}